<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add 
      name="Default" 
      providerName="Microsoft.Data.SqlClient" 
      connectionString="Server=.\SQL2019EXPRESS;Database=db_mock_final_07449;Integrated security=true;TrustServerCertificate=true;"/>
  </connectionStrings>
</configuration>